<div class="container align-items-center" style="height:800px; background-image: url(<%= image_url('ecohack_about.jpg') %>); background-size: cover; opacity: 0.2;">
  <div class="row">
    <p>a</p>
  </div>
</div>