<div class="container align-items-center" style="height:800px; background-image: url(<%= image_url('ecohack_about.jpg') %>); background-size: cover; ">
  <div class="row text-center font-weight-bold">
    <p>
    いきなりですが、今から約28年後、2050年に海中のプラスチックゴミが8億トンを超え、<br>
    地球上の魚の重量を上回るとの予測が立てられています。<br>
    海の中がプラスチックだらけに。。<br>
    考えただけでゾッとしますね(´；ω；`)ｳｯ…<br>
    この事態を防ぐ為に私たちが出来る事は、お分かりの通り！<br>
    ゴミの出す量を減らすこと。捨てる素材を使わないようにしたり、再利用をするようにしたり。<br>
    つまり、生活様式を変えていく必要があります！<br>
    とは言っても、いきなり生活様式を変えるだなんて難しい話。。<br>
    具体的には何をどうすればいいの??<br>
    皆さんのecohackを是非ご覧になってください。<br>
    あなたに出来ることがきっと見つかります。<br>
    ひとりひとりの出来る範囲でいい。<br>
    当アプリで多くの方に少しでも意識を持ってもらえたら、最悪の事態を防ぐことが出来るかもしれません。
    </p>
  </div>
</div>