<div class="container align-items-center" style="height:500px; background-image: url(<%= image_url('ecohack_top.jpg') %>); background-size: contain; background-repeat: no-repeat; background-position: bottom;">
  <div class="row justify-content-center">
    <h1>何となくはじめる。eco</h1>
  </div>
  <div class="row justify-content-center">
    <p>ようこそecohackへ！</p>
  </div>
  <div class="btn-wrapper col-10 mx-auto">
    <% unless user_signed_in? %>
      <div class="row justify-content-center">
          <%= link_to "新規会員登録", new_user_registration_path, class: "btn btn-outline-success btn-block mb-3 sign_in" %>
      </div>
      <div class="row justify-content-center">
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-success btn-block mb-3 sign_in" %>
      </div>
    <% end %>
  </div>
</div>
