/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .box {background: linear-gradient(white, #8EB8FF);}

 .wrapper {
   margin: 0 0;
   padding: 0 0;
   width: 100%;
 }

  .post-item {
   margin-bottom: 10px;
 }

 .post-favorite {
   display: flex;
 }

 .post-title {
   margin-left: 20px;
   font-weight: bold;
 }

 .top {
  height:500px;
  background-image: url('ecohack_top.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
 }

 .about {
  height: 800px;
  background-image: url('ecohack_about.jpg');
  background-size: cover;
 }
/*background: linear-gradient(to bottom, gold 0%, orange 100%);*/