<div class="container">
  <div class="row">
    <h1>会員一覧画面</h1>
  </div>
  <div class="row">
    　<div class="col-md-6">image</div>
      <div class="col-md-6">name</div>
      <div class="col-md-6">introduce</div>
  </div>
  <div class="row">
      <% @users.each do |user|%>
        <%= image_tag user.get_profile_image(100,100) %>
        <%= link_to user_path(user) do %>
          <%= user.name %>
        <% end %>
        <%= user.introduce %>
      <% end %>
  </div>
</div>

